<!-- Title with side menu (if no side menu, place h1 inside main container and remove enable-side-menu classes
<h1 class="enable-side-menu"><%= t ".title" %></h1>-->


<div role="main" class="main enable-side-menu">
  <section>

<p> Contact! </p>


  </section>

</div><!--/main-->